.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.main img{
    width: 200px;
}
.main span{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    padding-bottom: 10px;
}